:root {
    --color-success: #3ad47a;
    --color-error: #ff604f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
    width: 400px;
}

.form {
    padding: 2em;
}

h2 {
    font-weight: 400;
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 1em;
}

.form-control {
    margin-bottom: .4em;
    position: relative;
}

.form-control label {
    display: block;
    color: grey;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    width: 100%;
    padding: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.form-control input:focus {
    outline: 0;
    border: 2px solid rgb(172, 172, 172);
}

.form-control.success input {
    border-color: var(--color-success);
}

.form-control.error input {
    border-color: var(--color-error);
}

.form-control small {
    color: var(--color-error);
    font-size: 12px;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1em;
    background-color: #cd6df3;
    color: white;
    border: none;
    width: 100%;
    margin-top: 15px;
    padding: 1em;
}